<div class="list-group-item individual-item">
  <%= guest.name %><br>
  <i class="fa fa-phone"></i>: <%= guest.phone %><br>
  <i class="fa fa-envelope-o"></i>: <%= guest.email %><br>
  <i class="fa fa-key"></i>: Send <%= guest.name  %> a new key<br>
</div>