<div class="container">
  <div class="row">
    <div class="user_welcome"><h3>Hi <%= current_user.first_name %></h3><div>
    <div class="col-md-6">
      #####<br>
      #####<br>
      #####<br>

    </div>
    <div class="col-md-6">
      There will be info here
    </div>
  </div>
</div>

<div class="col-md-12"><hr></div>

<div class="container">
  <div class="row">
    <div class="panel panel-default col-md-4">
      <div class="panel-heading"><span class="text-left">Places</span><i class="fa fa-plus pull-right"></i></div>
      <div class="panel-body">
        <% if @user.places.count > 0 %>
          <%= render @user.places %>
        <% else %>
          <div>You don't have any properties yet</div>
        <% end %>
      </div>
    </div>
    <div class="panel panel-default col-md-4">
      <div class="panel-heading"><span class="text-left">Keys</span><i class="fa fa-plus pull-right"></i></div>
      <div class="panel-body">
        <% if @user.places[0].keys.count > 0 %>
          <%= render @user.places[0].keys %>
        <% else %>
          <div>You don't have any keys yet</div>
        <% end %>
      </div>
    </div>
    <div class="panel panel-default col-md-4">
      <div class="panel-heading"><span class="text-left">Clients</span><i class="fa fa-plus pull-right"></i></div>
      <div class="panel-body">
        <% if @user.clients.count > 0 %>
          <%= render @user.clients %>
        <% else %>
          <div>You don't have any clients yet</div>
        <% end %>
      </div>
    </div>
  </div>
</div>

