<div class='url-link col-md-7 col-centered'>
  <div class="input-group">
    <input type="text" class="form-control secret-url text-center" data-key-id='<%= @key.id %>' value="<%= base_url + '/' + @key.secret_url %>" aria-describedby="sizing-addon2">
    <input type="text" data-end-date='<%=@key.end_date %>' class="key-expires-in form-control text-center" disabled="disabled" value="This key expires in 24hrs">
    <div class="form-control">
      Give this guest unlimited access <input type="checkbox" aria-label="...">
    </div>
  </div>

</div>