<div class='url-link col-md-7 col-centered'>
  <div class="input-group">
    <span class="input-group-addon" id="sizing-addon2">Key</span>
    <input type="text" class="form-control secret-url" data-key-id='<%= @key.id %>' value="<%= base_url + '/' + @key.secret_url %>" aria-describedby="sizing-addon2">
  </div>
</div>