<div class="list-group-item individual-item">
  <i class="fa fa-key"></i> for <%= key.place.nick_name %><br>
  <%= key.cleaner_time(:start_date) %><br>
  <i class="fa fa-long-arrow-down align-right"></i><br>
  <%= key.cleaner_time(:end_date) %><br>
</div>