<li class="list-group-item individual-item">
  <p><i class="fa fa-key"></i>
    <% if key.unlimited_access %>
      This key has unlimited access
    <% else %>
      Expires: <%= key.cleaner_time(:end_date) %>
    <% end %>
  </p>
  <%= link_to base_url + '/' + key.secret_url, base_url + '/' + key.secret_url %>
</li>