<li class="list-group-item individual-item">
  <p><i class="fa fa-key"></i> for <%= key.guest.name %></p>
  <% if key.unlimited_access %>
    <p>This key has unlimited access</p>
  <% else %>
    <p>Valid on: <%= key.cleaner_time(:start_date) %></p>
    <p>Expires: <%= key.cleaner_time(:end_date) %></p>
  <% end %>
</li>