<h4 class='center'><div><i class="fa fa-key" id='giant-key'></i></div><a href="#" class="show-send-email">Share this key...</a></h4>
<%= render partial: 'keys/form', locals:{places: current_user.places, guests: current_user.guests} %>