* {
  font-family: 'Cutive Mono';
  color: rgba(32, 25, 22, 0.92);
}

.background-image {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 10%, rgba(200, 200, 200, 0.3) 59%, rgba(0, 0, 0, 0.65) 100%) no-repeat center center fixed, url('stairs-opt.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*.light-background-image {
  background: linear-gradient(180, rgba(255, 255, 255, 0.96) 10, no-repeat center center fixed, url(stairs-opt.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/

body {
  margin-top: 10px;
}

.navbar-default {
  background-color: rgba(255, 255, 255, 0.94);
  border: 0px;
}

.nav {
  padding-right: 20px;
}

.panel {
  border: none;
}

.individual-item {
  outline: none;
}

#giant-lock {
  font-size: 10em;
}

#giant-key{
  font-size: 1em;
}

#giant-house{
  font-size: 10em;
  margin: 0 auto;
}
/*
#giant-lock:hover {
  color: rgba(10,100,15, 0.4);
}*/

#giant-lock-opened {
  font-size: 10em;
  color: rgba(100, 10, 15, 0.4);
}

#lock-container {
  padding: 15px;
}

#unlock-message-container {
  height: 10px;
  margin-bottom: 50px;
}

.valid-key {
  color: rgba(10,100,15, 0.8);
}

.invalid-key {
  color: rgba(100, 10, 15, 0.8);
}

footer {
  padding: 10px;
}

div textarea#message {
  height: 200px;
}

.col-centered{
    float: none;
    margin: 0 auto;
}
.margin-bottom-10 {
  margin-bottom: 10px;
}

#guest-container{
  width:90%;
  margin:auto;
}

#form-drop-down {
  padding-top: 20px;
}

.cancel-container {
  padding: 10px;
}

#cancel-form {
  color: rgba(200, 10, 15, 0.8);
}

#close-and-save {
  color: rgba(10,120,15, 0.9);
}

.key-expires-in:disabled {
  color: white;
  cursor: default;
  background-color: rgba(100, 10, 15, 0.4);
}

.secret-url {
  font-weight: bold;
  color: rgba(20,10,10,0.9);
}

.form-control, .input-group-addon {
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.input-group-addon, .panel-heading, .alert {
  border-top-left-radius: 20px;
}

#email-field-container{
  display: none;
}