* {
  font-family: 'Cutive Mono'
}

.navbar-default {
  background-color: rgba(255, 255, 255, 0);
  border: 0px;
}

.panel {
  border: none;
}

.individual-item {
  border-top: none;
  border-left: none;
  border-right: none;
}