<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <h4>Hi <%= name %></h4>
      <div id='lock-container' class='container-fluid'>
        <i id='giant-lock' class="fa fa-lock" data-<%= tag %>-id='<%= id %>'></i>
      </div>
      <div class='container-fluid' id="unlock-message-container">
        <h5 id="unlock-message">Click the lock to unlock your <%= place_name %></h5>
      </div>
    </div>
  </div>
</div>