<%= render partial: 'giant_lock', locals: { name: @user.first_name, id: @place.id, place_name: @place.nickname, tag: 'place'} %>

<div id="form-drop-down" class="col-md-12 text-center"><hr></div>

<div class="container">
  <div class="row">
    <div class="panel panel-default col-md-6">
      <div class="panel-heading"><span class="text-left">Logs</span></div>
      <div class="panel-body">
        <% if @user.places.count > 0 %>
          <%= render @user.places %>
        <% else %>
          <div>You don't have any properties yet</div>
        <% end %>
      </div>
    </div>
    <div class="panel panel-default col-md-6">
      <div class="panel-heading"><span class="text-left">Keys</span><i id="add-key" data-place-id='<%=@place.id%>' class="fa fa-plus pull-right"></i></div>
      <% if @user.keys.count > 0 %>
        <ul class="list-group">
        <%= render @user.keys %>
        </ul>
      <% else %>
        <div>You don't have any keys yet</div>
      <% end %>
    </div>
  </div>
</div>